main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;  
}


nav
{
	width : 150px ;
	border : 1px solid blue ;
	display: inline-block;
	vertical-align: top;

}
section {
	border: 1px solid blue;
	width: 55%;
	position: relative;
	left: 55px;
	display: inline-block;
	text-align: center;
}
h1,h2{
	text-align: center;
	margin-top: 0%;
}
footer{
	margin-left: 1%;
	text-align: center;
	clear: left;
}
#section1{
	text-align: center;
	width: 40%;
	padding-top: 2px;
	margin-right:3%;
}
#section2 {
	text-align: center;
	width: 30%;
	vertical-align: top;
}


